.searchFeed{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.searchFeed::-webkit-scrollbar{
    display: none;
}

.searchFeed-Head{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px;
}

.BestResult{
    width: 48%;
    height: 98%;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.BestResult:hover{
    background-color: #2a2a2a;
}

.SimilarResults{
    width: 48%;
    height: 98%;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.similarsCards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.similarsCards:hover{
    background-color: #2a2a2a;
}

.similarSongImg{
    height: 40px;
    width: 40px;
    background-color: gray;
    border-radius: 12px;
}

.similarSong-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    width: 80%;
}

.similarSongTitle{
    font-family: 'intern', sans-serif;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.similarSongArtist{
    padding: 0px 0px 0px 2px;
    font-family: 'intern', sans-serif;
    font-weight: 300;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    font-size: 15px;
    cursor: pointer;
}

.similarSongArtist:hover{
    text-decoration: underline;
}