.playButton {
  position: absolute;
  bottom: 75px;
  right: 20px;
  background-color: #75e5ff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  height: 40px;
  width: 40px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, background 0.3s ease;
  transform: scale(1);
}

.playButton:hover {
  background-color: #2cd9ff;
}

.playButton:active {
  background-color: #00ccff;
}

.playButton-img {
  width: 15px;
  height: 15px;
}
