.QueryPlayButton {
  position: absolute;
  bottom: 290px;
  right: 550px;
  background-color: #75e5ff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  height: 60px;
  width: 60px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, background 0.3s ease;
  transform: scale(1);
}

.QueryPlayButton:hover {
  background-color: #2cd9ff;
}

.QueryPlayButton:active {
  background-color: #00ccff;
}

.QueryPlayButton-img {
  width: 20px;
  height: 20px;
}

.QueryCardSong:hover .QueryPlayButton{
    opacity: 1;
    transform: scale(1.1);
}